<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <%= render 'recipes/recipe_details', recipe: @recipe %>
    </div>
</div>

<div class="row" id="show-comments">
    <div class="col-xs-8 col-xs-offset-2">
        <%= render 'recipes/recipe_details', recipe: @recipe %>
    </div>
</div>
